.container_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.card_1 {
  background: linear-gradient(135deg, #f0f8ff, #e0e0e0); 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 30%;
  max-width: 30%;
}

.cardTitle_1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  color: #003366; 
}

.cardContent_1 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6; 
  color: #1f1f1f;
  text-align: justify;
}

.card_1:hover {
  background: #f1f1f1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card_1:hover .cardTitle_1 {
  color: #1ebea5;
  transform: translateY(-2px);
}


@media (max-width: 1024px) {
  .card_1 {
    width: 45%;
    max-width: 45%;
  }

  .cardTitle_1 {
    font-size: 1.3rem; 
  }

  .cardContent_1 {
    font-size: 0.95rem; 
  }
}