footer {
  background-color: #003366;
  font-family: "Raleway", sans-serif;
}

.footer-copyright {
  color: #f1f1f1;
  background-color: #003366;
}

.footer-subheadings {
  color: #f1f1f1;
  margin: 1em;
}

.footer-nav {
  display: flex;
  flex-direction: column;
   
}

.footer-nav-item {
  font-size: 1rem;
  font-weight: 300;
  list-style-type: none;
  
}

.footer-nav-link {
  color: #b0a4a4 !important;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  
}

.footer-nav-link.active {
  background-color: #003366 !important;
  color: white !important;
}

.btnWhatsApp {
  display: inline-block;
  padding: 10px 20px;
  font-size: 13px;
  color: white;
  background-color: #25D366; 
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btnWhatsApp:hover {
  background-color: #1ebea5;
}

.footerWhatsApp {
  padding: 0;
  margin: 0;
  padding-top: 3%;
}

.image1 {
  width: 200px;
  height: 550px;
}

.btnWhatsApp {
  display: inline-block;
  padding: 10px 20px;
  font-size: 13px;
  color: white;
  background-color: #25D366; 
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btnWhatsApp:hover {
  background-color: #1ebea5;
}