
/* Header (Sticky Navbar) */
.sticky-navbar {
    position: sticky;
    top: 0;
    background-color: rgba(245, 245, 245, 0.9);
    backdrop-filter: blur(5px);
    transition: background-color 0.3s, backdrop-filter 0.3s;
    z-index: 1000;
    border-radius: 1em;
    padding: .625em 0; 
}

/* Layout */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25em;
    flex-wrap: wrap;
}

/* Logo and Title */
.title-subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5em;
}

.header-title {
    color: #003366;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0;
}

.header-title span {
    color: green;
    font-size: 1.1em;
}

h2 {
    color: #20562c;
    font-size: 1rem;
}

/* Logo */
.logo {
    height: 80px;
    width: auto;
    border-radius: 0.7em;
    margin-right: 1.25em; 
}

/* Nav Menu */
.nav {
    display: flex;
    gap: 15px; 
}

.nav-item {
    font-size: 1.25rem;
    font-weight: 600;
}

.nav-link {
    color: #003366 !important;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link.active {
    background-color: #003366 !important;
    color: #f1f1f1 !important;
}

.nav-link:hover {
    transform: scale(1.05); 
}

.hamburger {
    color: aliceblue !important;
    background-color: #20562c;
    visibility: hidden;
}

/* Responsive */
@media (max-width: 768px) {
    .header-title {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.9rem;
    }

    .logo {
        height: 60px;
    }

    .nav {
        flex-direction: column; 
        align-items: center; 
        margin-top: 1em;
    }

    .nav-item {
        font-size: 1rem;
    }

    .hamburger {
        visibility: visible;
        position: fixed;
        top: 0;
        right: 0;
        margin: 2em 1em;
    }
}